{
  "_theme": "structured",
  "_biz_version": {{ template_version | toString }},
  "header": {
    "title": {{ header_title | toString }},
    "title_icon": "",
    "components": [
      {
        "_component_type": "avatar",
        "data": {
          "icon_url": "",
          "text": {{ header_title | toString }}
        }
      }
    ]
  },
  "body": {
    "components": [
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "key": "Organization",
            "data": {
              "value": {{ org_name | toString }},
              "label": {{ environment | toString }}
            }
          },
          {
            "_component_type": "date_time",
            "key": "Creation Time",
            "data": {
              "value": {{ contract_created_time | toInt }}
            }
          },
          {
            "_component_type": "date_time",
            "_style": {
              "is_highlighted": true
            },
            "key": "Expiry Time",
            "data": {
              "value": {{ contract_expired_time | toInt }}
            }
          }
        ]
      },
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "_actions": [
              "copy"
            ],
            "key": "Settlement Contract ID",
            "data": {
              "value": {{ settlement_contract_id | toString }}
            }
          },
          {
            "_component_type": "text",
            "key": "Direction",
            "data": {
              "value": {{ direction | toString }}
            }
          },
          {
            "_component_type": "text",
            "key": "Trade Counterparty",
            "data": {
              "value": {{ trade_counterparty | toString }}
            }
          },
          {
            "_component_type": "text",
            "key": "Trading Pair",
            "data": {
              "value": {{ trading_pair | toString }}
            }
          },
          {
            "_component_type": "text",
            "key": "Price",
            "data": {
              "value": {{ price | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true
            },
            "key": "Settlement Service Fee",
            "data": {
              "value": {{ settlement_service_fee | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true
            },
            "key": "Fiat Amount",
            "data": {
              "value": {{ fiat_amount | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true
            },
            "key": "Crypto Amount",
            "data": {
              "value": {{ crypto_amount | toString }}
            }
          }
        ]
      }
    ]
  }
}
