{
  "_theme": "structured",
  "_biz_version": {{ template_version | toString }},
  {% if is_for_sign %}
  "_post_actions": [
    {
        "type": "sign_message",
        "data": {
            "transaction_id": {{ transaction_id | toString }},
            "transaction_type": {{ type | toString }}
        }
    }
  ],
  {% endif %}
  "header": {
    "title": {{ header_title | toString }},
    "title_icon": "https://d.cobo.com/public/logos/transaction_guard_icon.png"
  },
  "body": {
    "components": [
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "_is_in_list": true,
            "key": "Organization",
            "data": {
              "value": {{ show_info.org_name | toString }},
              "label": {{ show_info.environment | toString }}
            }
          },
          {
            "_component_type": "text",
            "_is_in_list": true,
            "key": "Source",
            "data": {
              "value": {{ show_info.wallet_name | toString }},
              "label": {{ source.source_type | toString }}
            }
          },
          {
            "_component_type": "text",
            "_is_in_list": true,
            "key": "Initiator",
            "data": {
              "value": {{ initiator | toString }}
            }
          },
          {
            "_component_type": "date_time",
            "key": "Created Time",
            "data": {
              "value": {{ created_time | toInt }}
            }
          },
          {% if expired_time %}
          {
            "_component_type": "date_time",
            "key": "Expired Time",
            "data": {
              "value": {{ expired_time | toInt }}
            }
          },
          {% endif %}
          {
            "_component_type": "text",
            "key": "Message ID",
            "data": {
              "value": {{ statement_uuid | toString }}
            }
          }
        ]
      },
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            "key": "From",
            "data": {
              {% if source.source_type in ["Org-Controlled","User-Controlled","Web3","Safe{Wallet}"] %}
              "label": {{ show_info.from_address_label | toString }},
              {% if source.address %}
              "value": {{ source.address | toString }}
              {% else %}
              "value": "Multiple addresses"
              {% endif %}
              {% elif source.source_type in ["Asset","Main","Sub"] %}
              "value": {{ show_info.wallet_name | toString }}
              {% endif %}
            }
          },
          {% set has_account_output = destination.get("account_output") %}
          {% set has_single_utxo = destination.get("utxo_outputs") and (destination.utxo_outputs | len) == 1 %}
          {% if has_account_output or has_single_utxo %}
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            "key": "To",
            "data": {
              "label": {{ show_info.to_address_label | toString }},
              {% if destination.get("account_output") and destination.account_output.get("memo") %}
              "value": {{ (destination.account_output.address ~ "|" ~ destination.account_output.memo) | toString }}
              {% elif destination.get("account_output") %}
              "value": {{ destination.account_output.address | toString }}
              {% else %}
              "value": {{ destination.utxo_outputs[0].address | toString }}
              {% endif %}
            }
          }
          {% endif %}
          {% if destination.get("utxo_outputs") and destination.utxo_outputs | len > 1 %}
          {% for output in destination.utxo_outputs %}
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            {% if loop.index == 1 %}
            "key": "To",
            {% endif %}
            "data": {
              "value": {{ output.address | toString }},
              "sub_value": {{ (output.amount ~ " " ~ token_id) | toString }}
            }
          }{% if not loop.last %},{% endif %}
          {% endfor %}
          {% endif %}
        ]
      },
      {
        "_component_type": "section",
        "components": [
          {% set has_account_output = destination.get("account_output") %}
          {% set has_single_utxo = destination.get("utxo_outputs") and (destination.utxo_outputs | len) == 1 %}
          {% if has_account_output or has_single_utxo %}
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": true,
              "is_bold": true
            },
            "key": "Value",
            "data": {
              {% if destination.get("account_output") %}
              "value": {{ (destination.account_output.amount ~ " " ~ token_id) | toString }}
              {% else %}
              "value": {{ (destination.utxo_outputs[0].amount ~ " " ~ token_id) | toString }}
              {% endif %}
            }
          }
          {% endif %}
          {% if destination.get("utxo_outputs") and destination.utxo_outputs | len > 1 %}
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": false,
              "is_large_size": true,
              "is_bold": true
            },
            "key": "Value",
            "data": {
              "value": {{ (show_info.total_amount ~ " " ~ token_id) | toString }}
            }
          }
          {% endif %},
          {
            "_component_type": "text",
            "key": "Estimated Fee",
            "data": {
              "value": {% if fee.estimated_fee_used %}{{ (fee.estimated_fee_used ~ " " ~ fee.token_id) | toString }}{% else %}{{ (fee.fee_used ~ " " ~ fee.token_id) | toString }}{% endif %}
            }
          }
          {% if fee.get("max_fee_amount") %},
          {
            "_component_type": "text",
            "key": "Max Fee",
            "data": {
              "value": {{ (fee.max_fee_amount ~ " " ~ fee.token_id) | toString }}
            }
          }
          {% endif %}
        ]
      },
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "key": "Transaction Type",
            "data": {
              "value": {{ type | toString }}
            }
          },
          {
            "_component_type": "text",
            "key": "Chain",
            "data": {
              "value": {{ chain_id | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            "key": "Transaction ID",
            "data": {
              "value": {{ transaction_id | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            "key": "Request ID",
            "data": {
              "value": {{ request_id | toString }}
            }
          }
        ]
      }
      {% if show_info.get("connection_type") %},
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "text",
            "key": "Connection Type",
            "data": {
              "value": {{ show_info.connection_type | toString }}
            }
          },
          {
            "_component_type": "text",
            "key": "Connected dApp",
            "data": {
              "value": {{ show_info.dapp_name | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            "key": "dApp URL",
            "data": {
              "value": {{ show_info.dapp_domain | toString }}
            }
          },
          {
            "_component_type": "text",
            "_style": {
              "is_highlighted": true,
              "is_large_size": false,
              "is_bold": false
            },
            "_actions": [
              "copy"
            ],
            "key": "Session ID",
            "data": {
              "value": {{ show_info.session_id | toString }}
            }
          }
        ]
      }
      {% endif %}
      {% if description %},
      {
        "_component_type": "section",
        "components": [
          {
            "_component_type": "paragraph",
            "key": "Note",
            "_actions": [
              "copy"
            ],
            "data": [
               {{ description | toString }}
            ]
          }
        ]
      }
      {% endif %}
    ]
  }
}